# Dependencies
node_modules/
npm-debug.log

# Environment
.env
*.env

# Swap files
*.swp

# Build outputs
build/
dist/
*.db
*.db-journal

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
